.prices_ruouvang{
  display:  block;
  font-size: 16px;
  line-height: 21px;
  color: #fc205c !important;
  font-weight: 600;
  text-align: left;
  .prices_ruouvang-news{
    display:  block;
  }
  .prices_ruouvang-old{
    display:  block;
  }
}