.gb-search-filter-vieclam{
  background: #0080b7;
  .form-group{
    margin: 20px 0;
  }
  .form-control{
    border-radius: 0;
  }
  .btn-timkiem-vieclam{
    background:  transparent;
    width: 100%;
    border: 1px solid #fff;
    color: #fff;
    font-weight: bold;
  }
}